<script>
  var mapAccessKey = "<%= ENV['MAP_ACCESS_KEY'] %>";
  // export MAP_ACCESS_KEY= in bash session & will need to enter into Heroku when deployed
</script>

<h1>Display page</h1>

<div id="triplist"></div>

<div id="map">

</div>

<div id="chart">

</div>

<div id="barchart">

</div>



<script>
  var tripId = <%= @trip.id %>;
  addSavedData(tripId);

</script>