<script>
  var mapAccessKey = "<%= ENV['MAP_ACCESS_KEY'] %>";
  // export MAP_ACCESS_KEY= in bash session & will need to enter into Heroku when deployed
</script>
<div class="flex-container">
	<div class="left-panel fill-gray">
		<div class="title">
			<h1>Welcome to Tripify!</h1>
		</div>
		<div id="tripform">
			<div id="placefinderDiv">
				<label>Travelling to:</label>
				<!-- <fieldset class='with-icon'> -->
					<input type='text' value='' id="placefinder"/>
				<!-- </fieldset> -->
			</div>
			<div id="datepickerDiv">
				<label>Arriving:</label>
				<fieldset class='with-icon'>
			  <input type='text' id="datepicker" placeholder="Date" />
			  <button class='button icon plus loud' id ="addplace">Add</button>
				</fieldset>
			</div>
			<button class="button space-bottom0 fill-green" id="saveBtn">Save</button>  
		</div>
		<div>
		</div>
		<div id="triplist">
		</div>


		<table>
		  <thead>
		    <tr>  
		      <th>Place</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <tbody id="table-stop">
			</tbody>
		</table>



		<div id="url-info">
		</div>
	</div>
	<div class="right-panel">
		<div class="map">
				<!-- Maps goes here -->
			<div id="map">
			</div>
		</div>
		<div class="graph">
				<!-- Graph goes there -->
			<div id="chart">
			</div>
			<div id="barchart">
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class='contain'>
  <div id='modal-content' class='animate modal modal-content'>
    <div class='col6 modal-body fill-white contain'>
       <div class='fill-blue dark pad2y'>
          <div id="modal-heading" class='pad4x center'>
            <h2>Thanks for using Tripify!</h2>
          </div>
      </div>
    </div>
  </div>  
</div>
