<script>
  var mapAccessKey = "<%= ENV['MAP_ACCESS_KEY'] %>";
  // export MAP_ACCESS_KEY= in bash session & will need to enter into Heroku when deployed
</script>

<div class="flex-container">
	<div class="left-panel">
	<h1>tripify</h1>
	</div>
	<div class="right-panel">
		<div class="map">
			<div id="map">
			</div>
		</div>
		<div class="graph">
			<h1>some graphs</h1>
		</div>
	</div>
	
</div>