.flex-container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}
.left-panel {
	background-color: grey;
	width: 40%;

}
.right-panel {
	display: flex;
	flex-direction: column;
	flex: 3 0 0; 
}
.map, .graph {
		flex: 1 0 0; 
}
# {
	position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh
}