.flex-container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}
.left-panel {
	/*background-color: grey;*/
	flex: 1.6 0 0;
	overflow: scroll;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.title {
	display: flex;
	justify-content: center;
}
#tripform {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 2em;
}

.right-panel {
	display: flex;
	flex-direction: column;
	flex: 4.5 0 0;
}
.map {
	flex: 1 0 0; 
}
.graph {
		flex: 1 0 0; 
}
#map {
	position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 70vh
}
/*removing margin from jquery date picker*/
#datepickerDiv input {
	margin: 0;
}
#datepickerDiv {
	margin: 0;
	display: flex;
    flex-direction: column;
}

#placefinderDiv {
  /*width:160px;*/
    display: flex;
    flex-direction: column;
}
#addplace {
    position: relative;
    top: 0px;
    left: 0px;
}

