body {
  margin: 0;
}
.leaflet-bottom, .leaflet-top {
  display: none;
}
.easy-autocomplete {
  display: inline-block;
}
#tripform div {
  padding-bottom: 10px;
}

input {
  width: 13em;
}

#datepickerDiv input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  color: #555;
  float: none;
  padding: 6px 12px;
  margin: 0 8px;
}
#placefinderDiv input {
    display: flex;
    flex-direction: column;
}

#saveBtn {
  display: none;
  margin: 2em;
}
/*.ui-widget {
  border: 1px solid black;
  background-color: white;
}*/

h1,
h2,
h3, 
h4{
  display: inherit;
  justify-content: inherit;
}

.title {
  flex-direction: column;
}
.description {
  padding: 0 1em 1em;
}