<!DOCTYPE html>
<html>
<head>
  <title>Tripify</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/577a1cb456.js"></script>

  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <link rel="icon" type='image/x-icon' href="http://www.veryicon.com/icon/ico/System/Circle%20Addon%202/plane%20flight.ico" />
  <link rel='shortcut icon' href='path/to/favicon.ico' type='image/x-icon' />
  <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
</head>
<body>

<%= yield %>

</body>
</html>
